rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email in [
          'gerardogonzalezm1403@gmail.com',
          'admin@ecoamazonico.com'
        ] &&
        request.auth.token.email_verified == true;
    }

    match /siteContent/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /services/{serviceId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
