@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-eco-lime: #C4EA10;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}